# Gramener Data Science Entry Level Position Use Case 1

In [1]:
#imports
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
datapath = './'
filename = 'nas-pupil-marks.csv'
Data = pd.read_csv(datapath+filename)
Data.info()
Data.describe()
#Data.describe(include=['O'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185348 entries, 0 to 185347
Data columns (total 64 columns):
STUID                     185348 non-null int64
State                     185348 non-null object
District                  185348 non-null int64
Gender                    185348 non-null int64
Age                       185348 non-null int64
Category                  185348 non-null int64
Same language             185348 non-null int64
Siblings                  185348 non-null int64
Handicap                  185348 non-null int64
Father edu                185348 non-null int64
Mother edu                185348 non-null int64
Father occupation         185348 non-null int64
Mother occupation         185348 non-null int64
Below poverty             185348 non-null int64
Use calculator            185348 non-null int64
Use computer              166186 non-null object
Use Internet              185348 non-null int64
Use dictionary            185348 non-null int64
Read other books          185348 non-null int64
# Books                   185348 non-null int64
Distance                  185348 non-null int64
Computer use              185348 non-null int64
Library use               185348 non-null int64
Like school               185348 non-null int64
Subjects                  185348 non-null object
Give Lang HW              185348 non-null int64
Give Math HW              185348 non-null int64
Give Scie HW              185348 non-null int64
Give SoSc HW              185348 non-null int64
Correct Lang HW           185348 non-null int64
Correct Math HW           185348 non-null int64
Correct Scie HW           185348 non-null int64
Correct SocS HW           185348 non-null int64
Help in Study             185348 non-null int64
Private tuition           185348 non-null int64
English is difficult      185348 non-null int64
Read English              185348 non-null int64
Dictionary to learn       185348 non-null int64
Answer English WB         185348 non-null int64
Answer English aloud      185348 non-null int64
Maths is difficult        185348 non-null int64
Solve Maths               185348 non-null int64
Solve Maths in groups     185348 non-null int64
Draw geometry             185348 non-null int64
Explain answers           185348 non-null int64
SocSci is difficult       185348 non-null int64
Historical excursions     185348 non-null int64
Participate in SocSci     185348 non-null int64
Small groups in SocSci    185348 non-null int64
Express SocSci views      185348 non-null int64
Science is difficult      185348 non-null int64
Observe experiments       185348 non-null int64
Conduct experiments       185348 non-null int64
Solve science problems    185348 non-null int64
Express science views     185348 non-null int64
Watch TV                  185348 non-null int64
Read magazine             185348 non-null int64
Read a book               185348 non-null int64
Play games                185348 non-null int64
Help in household         185348 non-null int64
Maths %                   92681 non-null float64
Reading %                 93271 non-null float64
Science %                 90992 non-null float64
Social %                  89571 non-null float64
dtypes: float64(4), int64(57), object(3)
memory usage: 90.5+ MB

,STUID,District,Gender,Age,Category,Same language,Siblings,Handicap,Father edu,Mother edu,...,Express science views,Watch TV,Read magazine,Read a book,Play games,Help in household,Maths %,Reading %,Science %,Social %
count,1.853480e+05,185348.000000,185348.000000,185348.000000,185348.000000,185348.000000,185348.000000,185348.000000,185348.000000,185348.000000,...,185348.000000,185348.000000,185348.000000,185348.000000,185348.000000,185348.000000,92681.000000,93271.000000,90992.000000,89571.000000
mean,2.634978e+10,5.353292,1.516925,3.579148,2.543896,1.270826,3.557400,1.836880,2.058533,1.704955,...,2.147442,3.411761,2.964925,2.908297,3.325631,3.421855,32.244413,46.208704,36.414637,38.357868
std,9.313274e+09,4.165150,0.502246,1.198826,1.235319,0.583421,1.234595,0.481326,1.207070,1.161219,...,1.006731,0.989371,1.177285,1.105515,1.046522,1.131092,16.088122,21.828532,14.905728,15.133607
min,1.101100e+10,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.807117e+10,2.000000,1.000000,3.000000,1.000000,1.000000,3.000000,2.000000,1.000000,1.000000,...,1.000000,3.000000,2.000000,2.000000,3.000000,4.000000,21.670000,27.590000,25.930000,28.000000
50%,2.520125e+10,4.000000,2.000000,4.000000,3.000000,1.000000,4.000000,2.000000,2.000000,2.000000,...,3.000000,4.000000,3.000000,3.000000,4.000000,4.000000,27.780000,43.330000,33.930000,36.000000
75%,3.503107e+10,8.000000,2.000000,4.000000,4.000000,2.000000,5.000000,2.000000,3.000000,2.000000,...,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,37.930000,63.330000,44.640000,48.000000
max,4.502103e+10,28.000000,2.000000,6.000000,4.000000,2.000000,5.000000,2.000000,5.000000,5.000000,...,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,100.000000,100.000000,100.000000,96.000000

Walking into this, we have 3 questions that we hope to answer eventually - 
1. What influences student performance the most?
2. How do girls and boys perform across states?
3. Do students from South India really excel at Math and Science

Before we do deep dives into this, a few issues seem to be cropping up - looking at the data description, I get the feeling that NaNs or nulls have already been filled with zeroes. 

Moreover, I have a separate list of columns that seems to be rather mysterious - frankly speaking I don't know what to do with it. Let's explore further.

In [4]:
Data.columns.values.tolist()

['STUID',
 'State',
 'District',
 'Gender',
 'Age',
 'Category',
 'Same language',
 'Siblings',
 'Handicap',
 'Father edu',
 'Mother edu',
 'Father occupation',
 'Mother occupation',
 'Below poverty',
 'Use calculator',
 'Use computer',
 'Use Internet',
 'Use dictionary',
 'Read other books',
 '# Books',
 'Distance',
 'Computer use',
 'Library use',
 'Like school',
 'Subjects',
 'Give Lang HW',
 'Give Math HW',
 'Give Scie HW',
 'Give SoSc HW',
 'Correct Lang HW',
 'Correct Math HW',
 'Correct Scie HW',
 'Correct SocS HW',
 'Help in Study',
 'Private tuition',
 'English is difficult',
 'Read English',
 'Dictionary to learn',
 'Answer English WB',
 'Answer English aloud',
 'Maths is difficult',
 'Solve Maths',
 'Solve Maths in groups',
 'Draw geometry',
 'Explain answers',
 'SocSci is difficult',
 'Historical excursions',
 'Participate in SocSci',
 'Small groups in SocSci',
 'Express SocSci views',
 'Science is difficult',
 'Observe experiments',
 'Conduct experiments',
 'Solve science problems',
 'Express science views',
 'Watch TV',
 'Read magazine',
 'Read a book',
 'Play games',
 'Help in household',
 'Maths %',
 'Reading %',
 'Science %',
 'Social %']

Looking at the list of columns, I think it's safe to say that the columns csv is superflous - Column names in the current table are fairly descriptive, which indicates that I should leave them as is for now. 
Moving onto the Zero Rows, Age and Gender should not have 0 values, Interestingly enough Siblings doesn't have 0, going that it's highly unlikely that all students surveyed had at least 1 sibling, I might have some error here.